.pf-c-expandable .pf-c-expandable__content {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.pf-c-expandable__toggle {
  text-align: left;
}

.pf-c-drawer.pf-m-expanded .pf-c-drawer__panel {
  background-color: white;
}

.pf-c-drawer {
  height: 100%;
}