.kie-grid {
  --num-given-columns: 4;
  --num-expect-columns: 3;
  display: grid;

  grid-template-columns: [grid-start number-start] 3em [number-end description-start] minmax(
      auto,
      2fr
    ) [description-end given-start] repeat(
      var(--num-given-columns),
      minmax(auto, 1fr)
    ) [given-end expect-start] repeat(var(--num-expect-columns), 1fr) [expect-end grid-end];

  grid-template-rows: [grid-row-start grid-row-header-start] auto [grid-row-instances-start] auto [grid-row-properties-start] auto [grid-row-header-end grid-row-data-start] auto [grid-row-data-end grid-row-end];
  grid-auto-rows: auto;
}

.kie-grid__item {
  border: 1px solid var(--pf-global--BorderColor--100);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.kie-grid__number {
  grid-column: number-start / number-end;
  grid-row: grid-row-header-start / grid-row-header-end;
}
.kie-grid__description {
  grid-column: description-start / description-end;
  grid-row: grid-row-header-start / grid-row-header-end;
}
.kie-grid__given {
  grid-column: given-start / given-end;
  grid-row: grid-row-header-start;
}
.kie-grid__expect {
  grid-column: expect-start / expect-end;
  grid-row: grid-row-header-start;
}

.kie-grid__header--given * {
  background-color: #def3ff;
  padding: var(--pf-global--spacer--sm);
  text-align: center;
}
.kie-grid__header--expect * {
  background-color: #bee1f4;
  padding: var(--pf-global--spacer--xs) var(--pf-global--spacer--sm);
  text-align: center;
}
.kie-grid__body,
.kie-grid__body > div,
.kie-grid__body > div > .infinite-scroll-component,
.kie-grid__rule,
.kie-grid__header--given,
.kie-grid__header--expect {
  display: contents;
}

.kie-grid__item--empty,
.kie-grid__item--loading {
  grid-column: 1 / -1
}

/* The .kie-grid--merged class turns the merged cells on */
/* This class is for the cell that will expand to take the place of other merged cells */
.kie-grid--merged .kie-grid__item--merge-master {
  --mergeRows: 1; /* set this inline to control how many rows to cover */
  grid-row: span var(--mergeRows);
}

/* This class is for the cells that will be removed as part of the merge */
.kie-grid--merged .kie-grid__item--merge-away {
  display: none;
}  


/* Filter on column dropdown right-aligned */
.pf-c-select__menu {
  right: 0;
}
