.pf-c-expandable .pf-c-expandable__content {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.pf-c-expandable__toggle {
  text-align: left;
}

.pf-c-drawer.pf-m-expanded .pf-c-drawer__panel {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

.pf-c-drawer {
  min-height: 100vh;
}

.pf-c-drawer.pf-m-expanded .pf-c-drawer__content {
  margin-right: 450px;
}

.close-section {
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
}

.close-button {
  position: absolute;
  top: 5px;
  left: 5px;
}
