.editor-input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px;
  color: black;
}

.editor-input:not([readonly]) {
  background-color: aliceblue;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

