html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.editor-container {
  transition: 1s;
  opacity: 0;
}

.editor-container.show {
  opacity: 1;
}

.editor-container,
.editor-container > div,
.editor-container > div > div {
  height: 100%;
}